body {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #000000;
}

.container-padding50 {
  padding-top: 50px;
}

.container-textinput {
  width: 80%;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

.container-button {
  width: 10%;
  display: inline-block;
  padding: 20px;
  background-color: green;
  color: white;
  font-size: 16px;
  font-family: Helvetica, sans-serif;

  border: 1px solid green;
  border-radius: 5px;
}

.container-image {
  width: 30%;
  display: inline;
  margin-right: 3%;
}

.info {
  width: 95%;
  text-align: center;
  margin-top: 10px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

input {
  color: gray;
}

footer {
  position: fixed;
  width: 80%;
  text-align: center;
  color: #fff;
  height: 30px;
  bottom: 0;
}
